<div class="list-group left">
    <a href="/admin/" class="list-group-item active">首页</a>
    <a href="/admin/banners" class="list-group-item">banners设置</a>
    <a href="/admin/blog" class="list-group-item">blog设置</a>
    <a href="/admin/custom" class="list-group-item">用户评价</a>
    <a href="/admin/intro" class="list-group-item">产品介绍</a>
    <a href="/admin/msg" class="list-group-item">留言管理</a>
    <a href="/admin/news" class="list-group-item">新闻管理</a>
    <a href="/admin/contact" class="list-group-item">联系我们</a>
</div>